<!DOCTYPE html>
<html>
    <head>
        <title>TEMLPATE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="/main-min.js"></script>
        <meta property="og:title" content="Contentful + Express + Node + Gulp template">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
    </head>

    <body>
        <%- body %>
    </body>
</html>
